:root {
   --text-active: #2196f3;
   --text-header: #212121;
   --background-section: #ffffff;
   --color-text: #757575;
   --color-icon-clients: #afb1b8;
}
body {
   background-color: var(--background-section);
   font-family: "Roboto", sans-serif;
}
img {
   display: block;
   max-width: 100%;
   height: auto;
}
h1,
h2,
h3,
p {
   margin: 0;
}

/* что бы убрать точки (класс списка)*/
.list {
   list-style: none;
}
/*что бы убрать подчеркивание у ссылок(на ссылки)*/
.link {
   text-decoration: none;
}
.button {
   color: var(--text-active);
}
.visually-hidden {
   position: absolute;
   white-space: nowrap;
   width: 1px;
   height: 1px;
   overflow: hidden;
   border: 0;
   padding: 0;
   clip: rect(0 0 0 0);
   clip-path: inset(50%);
   margin: -1px;
   }
ul {
   list-style: none;
   margin: 0;
   padding: 0;
   }
.section {
   padding-top: 94px;
   padding-bottom: 94px;
   }
.conteiner {
   width: 1200px;
   margin: 0 auto;
   padding-left: 15px;
   padding-right: 15px;
}
                                          /*Шапка*/

.header {
   background-color: var(--background-section);
   border-bottom-color: #ececec;
   border-bottom-width: 1px;
   border-bottom-style: solid;
}

.head-conteiner {
   display: flex;
   padding-top: 25px;
   padding-bottom: 25px;
}

.nav-conteiner {
   display: flex;
   align-items: center;
   }

.site-nav {
   display: flex;
}
.site-nav::before{
   content: '';

   border-bottom: 4px solid var(--text-active);
   border-radius: 2px;
}

.site-contacts {
   display: flex;
   margin-left: auto;
   align-items: center;
}
.site-contacts-item:not(:last-child) {
   margin-right: 50px;
}
.site-nav-link.current::after{
   content: '';
   position: absolute;
   width: 100%;
   background-color: var(--text-active);
   border-bottom: 4px solid var(--text-active);
   border-radius: 2px;
   display: block;
   bottom: -25px;
}
.logo {
   font-family: "Raleway";
   font-weight: 700;
   font-size: 26px;
   line-height: 1.38;
   color: var(--text-header);
   margin-right: 93px;
}
.web-logo {
   color: var(--text-active);
}
.site-nav-link {
   display: flex;
   font-weight: 500;
   font-size: 14px;
   line-height: 1.2;
   color: var(--text-header);
   padding-top: 10px;
   padding-bottom: 10px;
   position: relative;
}
.site-nav-item:not(:last-child) {
   margin-right: 50px;
}

.site-nav-link:hover,
.site-nav-link:focus {
   color: var(--text-active);
   /* border-bottom: 4px solid var(--text-active);
   border-radius: 2px;*/
} 
.contacts {
   display: flex;
   align-items: center;
   font-weight: 500;
   font-size: 14px;
   line-height: 1.2;
   letter-spacing: 0.02em;
   color: var(--color-text);
}

.contacts:hover,
.contacts:focus,
.footer-contacts {
   color: var(--text-active);
}
.site-contacts-icon {
   margin-right: 10px;
   fill: currentColor;
}
.site-contacts-icon:hover,
.site-contacts-icon:focus {
   fill: #2196f3;
}
                                       /*footer*/
.footer-block{
   display: flex;
   align-items: baseline;
}
                                       /* address */
.footer-content {
   background: #2f303a;
   padding-top: 60px;
   padding-bottom: 60px;
}
.footer-logo {
   color: var(--background-section);
   font-family: "Raleway";
   font-weight: 700;
   font-size: 26px;
   line-height: 1.38;
}
.location {
   color: var(--background-section);
}
.address-content {
   margin-top: 20px;
}
.address-item {
   font-style: normal;
   font-weight: normal;
   font-size: 14px;
   line-height: 1.71;
   letter-spacing: 0.03em;
}
.address-item:not(:last-child) {
   margin-bottom: 9px;
}
.footer-contacts {
   color: rgba(255, 255, 255, 0.6);
}
.footer-contacts:hover,
.footer-contacts:focus {
   color: var(--text-active);
}
                                       /* join us */
.join-footer{
   margin-left: 70px;
}
.join-us{
   font-style: Bold;
   font-size: 14px;
   line-height: 16px;
   line-height: 100%;
   align: Left;
   vertical-align: Top;
   letter-spacing: 3%;
   color: var(--background-section);
   text-transform: uppercase;
}
.join-footer{
}
.footer-icon-list{
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 20px;
}
.footer-icon-item{
   width: 44px;
   height: 44px;
}
.footer-icon-item + .footer-icon-item{
   margin-left: 10px;
}              
.footer-icon-link{
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   height: 100%;
   border-radius: 50%;
   color: var(--background-section);
   background-color: rgba(255, 255, 255, 0.1);
}
.footer-icon-link:hover,
.footer-icon-link:focus{
   background-color: var(--text-active);
   color: var(--background-section);
}
.footer-icon{
   fill: currentColor;
}
                                       /*cервисы 1cтр*/

                                       /*заказать услугу*/

.hero {
   background-image:
         linear-gradient(
         rgba(47, 48, 58, 0.4),
         rgba(47, 48, 58, 0.4)),
         url(../img/hero-foto.jpg);
   background-color: #2f303a;
   max-width: 1600px;
   margin-left: auto;
   margin-right: auto;
   text-align: center;
   padding: 200px 0;
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
}
.title-hero {
   font-weight: 900;
   font-size: 44px;
   line-height: 1.36;
   letter-spacing: 0.06em;
   text-transform: uppercase;
   color: var(--background-section);
   margin-bottom: 30px;
   padding: 0;
   width: 696px;
   margin-right: auto;
   margin-left: auto;
}
.button {
   background: var(--text-active);
   color: var(--background-section);
   border: transparent;
   font-family: inherit;
   font-weight: 700;
   font-size: 16px;
   line-height: 1.85;
   align-items: center;
   letter-spacing: 0.06em;
   cursor: pointer;
   min-width: 200px;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
   border-radius: 4px;
   padding: 10px 32px;
}

                                             /*заголовки и текст*/

.features {
   background-color: var(--background-section);
   display: flex;
}

.features-icon-item {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 270px;
   height: 120px;
   border: 1px solid transparent;
   background-color: #f5f4fa;
   justify-content: center;
   border-radius: 4px;
   margin-bottom: 30px;
}
.features-icon-item + .features-icon-item {
   margin-left: 30px;
}
.features-text {
   margin-top: 0px;
}
.section-services {
   background: var(--background-section);
   padding-top: 0;
}
.features-title {
   font-style: normal;
   font-weight: 700;
   font-size: 14px;
   line-height: 1.2;
   letter-spacing: 0.03em;
   text-transform: uppercase;
   color: var(--text-header);
   margin-top: 0;
   margin-bottom: 10px;
}
.features-text {
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 1.7;
   letter-spacing: 0.03em;
   color: var(--color-text);
   max-width: 270px;
}
.features-item:not(:last-child) {
   margin-right: 30px;
}
                                 /*наша команда фото*/
.text-title {
   font-style: normal;
   font-weight: 700;
   font-size: 36px;
   line-height: 1.16;
   text-align: center;
   letter-spacing: 0.03em;
   color: var(--text-header);
}
.employment-list {
   display: flex;
   margin-top: 50px;
   flex-basis: calc(100% / 3 - 30px);
}
.employment-item-wrap{
   position: relative;
   overflow: hidden;
}
.employment-item:hover .employment-text{
   transform: translateY(0);
}
.employment-item:not(:last-child) {
   margin-right: 30px;
}
.employment-text{
   position: absolute;
   bottom: 0;
   left: 0;
   text-transform: uppercase;
   font-style: 700;
   padding:27px 0 ; 
   text-align: center;
   color: var(--background-section);
   width: 100%;
   background-color: rgba(47, 48, 58, 0.8);
   transform: translateY(100%);
   transition: transform 250ms linear ; 
   font-style: 14px;
   line-height: 1.1; 
   letter-spacing: 3%; 
}

                                                      /*наша команда */
.team-section {
   background: #f5f4fa;
}
.team {
   margin-top: 0;
}
.team-list {
   display: flex;
   margin-top: 50px;
   flex-basis: calc(100% / 4 - 30px);
}
.developer-item {
   background: var(--background-section);
   box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 
   0px 1px 1px rgba(0, 0, 0, 0.14),
   0px 2px 1px rgba(0, 0, 0, 0.2);
   border-radius: 0px 0px 4px 4px;
}
.developer-item:not(:last-child) {
   margin-right: 30px;
}
.team-card {
   padding: 30px 0;
}
.name-developer {
   font-style: normal;
   font-weight: 500;
   font-size: 16px;
   line-height: 1.18;
   text-align: center;
   letter-spacing: 0.03em;
   color: var(--text-header);
   margin-bottom: 10px;
}
.text-foto-team {
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 1.18;
   text-align: center;
   letter-spacing: 0.03em;
   color: var(--color-text);
   margin-bottom: 16px;
}
                                                   /* соц сети */
.social-icon-list{
   display: flex;
   justify-content: center;
}
.social-icon-item{
   width: 44px;
   height: 44px;

}  
.social-icon-item + .social-icon-item{
   margin-left: 10px;
}                                              
.social-icon-link{
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   height: 100%;
   border-radius: 50%;
   color: var(--color-icon-clients);
   /* background-color: red; */
}
.social-icon-link:hover,
.social-icon-link:focus{
   background-color: var(--text-active);
   color: var(--background-section);
}
.social-icon{
   fill: currentColor;
}                                                   /* Клиенты */
.client-icon-list {
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 50px;
}
.client-icon-item {
   width: 170px;
   height: 92px;
}
.client-icon-item:not(:last-child){
margin-right: 30px;
}
.client-icon-link {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   height: 100%;
   color: var(--color-icon-clients);
   border-radius: 4px;
   border: 1px solid var(--color-icon-clients);
}
.client-icon-link:hover,
.client-icon-link:focus {
   color: var(--text-active);
   border-color: var(--text-active);
}
.client-icons {
   fill: currentColor;
}

                                                         /*страница 2*/

.button-filter:focus,
.button-filter:hover {
   color: var(--background-section);
   background-color: var(--text-active);
   box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 
   0px 1px 2px rgba(0, 0, 0, 0.08),
   0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filter {
   display: flex;
   justify-content: center;
}
.filter-item:not(:last-child) {
   margin-right: 8px;
}

.button-filter {
   font-style: normal;
   font-weight: 500;
   font-size: 16px;
   line-height: 1.62;
   text-align: center;
   letter-spacing: 0.03em;
   color: var(--text-header);
   cursor: pointer;
   border-radius: 4px;
   padding: 6px 22px;
   border-color: transparent;
}
/*секция фото*/
.works-text-box {
   padding: 20px 24px;
   /*стили правой рамки */
   border-right-width: 1px;
   border-right-style: solid;
   border-right-color: #eeeeee;

   /*стили нинжней рамки */
   border-bottom-width: 1px;
   border-bottom-style: solid;
   border-bottom-color: #eeeeee;

   /*стили левой рамки */
   border-left-width: 1px;
   border-left-style: solid;
   border-left-color: #eeeeee;
}
.works-text {
   font-weight: 700;
   font-size: 18px;
   line-height: 2;
   letter-spacing: 0.06em;
   color: var(--text-header);
}
.text-caption {
   font-weight: 400;
   font-size: 16px;
   line-height: 1.8;
   letter-spacing: 0.03em;
   color: var(--color-text);
}

.works {
   display: flex;
   margin-top: 50px;
   flex-wrap: wrap;
   margin-left: -30px;
}
.works-item {
   margin-left: 30px;
   margin-bottom: 30px;
   flex-basis: calc((100% - 3 * 30px) / 3);
   background: var(--background-section);
   box-sizing: border-box;
}
.works-item:nth-last-child(-n + 3) {
   margin-bottom: 0;
}
.portfolio-link{
   display: block;
}
.portfolio-link:hover,
.portfolio-link:focus {
   border: 1px solid #eeeeee;
   box-sizing: border-box;
   box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 
   0px 4px 4px rgba(0, 0, 0, 0.06),
   1px 4px 6px rgba(0, 0, 0, 0.16);
}

.works-overlay{
   position: relative;
   overflow: hidden;
}
.works-item:hover .works-item-text{
   transform: translateY(0);

}
.works-item-text{
   position: absolute;
   top: 0;
   padding: 63px 24px;
   height: 100%;
   font-size: 18px;
   line-height: 1.55;
   color: var(--background-section);
   background-color: rgb(33, 150, 243, 0.9);
   transform: translateY(100%);
   transition: transform 250ms linear ;

}